{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}StockPro{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
        <a href="{% url 'index' %}" class="logo">
            <span class="icon">📈</span>
            <span class="text">StockPro</span>
        </a>
        <p class="user">
            <span class="icon">👤</span>
            <span class="text">Valentín Marta</span>
        </p>
        <nav>
          <a href="{% url 'compras' %}" class="menu-item"><span class="icon">🛒</span><span class="text">Compras</span></a>
          <a href="{% url 'ventas' %}" class="menu-item"><span class="icon">💼</span><span class="text">Ventas</span></a>
          <a href="{% url 'analisis' %}" class="menu-item"><span class="icon">📊</span><span class="text">Análisis Financiero</span></a>
          <a href="{% url 'historial' %}" class="menu-item"><span class="icon">🕒</span><span class="text">Historial</span></a>
        </nav>
        <div class="sidebar-footer">
          <a href="#" class="menu-item"><span class="icon">⚙️</span><span class="text">Configuración</span></a>
          <a href="#" class="menu-item"><span class="icon">🔒</span><span class="text">Cerrar sesión</span></a>
        </div>
    </aside>
    <main class="dashboard">
      {% block content %}{% endblock %}
    </main>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
