{% extends 'base.html' %}

{% block title %}Compras - StockPro{% endblock %}

{% block content %}
<h1>Compras</h1>
    
      <!-- Botón que abre el formulario -->
      <button id="abrir-formulario" class="btn-agregar">➕ Agregar producto</button>
    
      <!-- VENTANA MODAL OCULTA -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="cerrar">&times;</span>
          <h2>Agregar nuevo producto</h2>
          <form id="form-compra" class="formulario">
            <input type="text" id="id" placeholder="ID del producto" required>
            <input type="text" id="nombre" placeholder="Nombre del producto" required>
            <input type="number" id="cantidad" placeholder="Cantidad de unidades" required>
            <input type="text" id="unidad" placeholder="Tipo de unidad (kg, lt, u)" required>
            <input type="number" id="precioCompra" placeholder="Precio de compra" required>
            <input type="number" id="precioVenta" placeholder="Precio de venta" required>
            <button type="submit">Agregar</button>
          </form>
        </div>
      </div>
    
      <!-- TABLA DE STOCK -->
      <h2 style="margin-top: 40px;">Stock de Productos</h2>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
          </tr>
        </thead>
        <tbody id="tabla-stock"></tbody>
      </table>
{% endblock %}
